/* style.css */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Занимает всю высоту экрана */
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px; /* Фиксированная ширина контейнера */
    text-align: center;
}

/* Стили для переключателя форм */
.form-switcher {
    display: flex;
    margin-bottom: 20px;
}

.form-switcher button {
    flex: 1;
    padding: 10px;
    background-color: #717070;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.form-switcher button.active {
    background-color: #007bff;
    color: #fff;
}

/* Стили для общих элементов формы */
h1 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-top: 20px;
    color: #777;
}

.form-switcher {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .form-switcher button {
    padding: 12px 24px;
    border: none;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-left: 5px;  /* Пробел слева */
    margin-right: 5px; /* Пробел справа */
  }
  
  .form-switcher button:hover {
    background-color: #ddd;
  }
  
  .form-switcher button.active {
    background-color: #3498db;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  